input {
  outline: none;
}

ul {
  padding: 0;
  display: block;
  list-style-type: none;
  /*border: 1px red solid;*/
}

li {
  display: block;
  /*border: 1px green solid;*/
}

a {
  cursor: pointer;
}

.modal-backdrop {
  opacity: 0.8;
}

.submit-button-row {
  text-align: center;
}

.password-errors-ul {
  margin: 0px;
}

.navbar {
  background-color: #367d50;
  box-shadow: 0px 1px;
  position: relative;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}

.header-home {
  padding: 10px;
}

.header-dropdown {
  padding: 10px;
}

.header-search-ul {
  position: absolute;
  width: 187px;
}

.header-search-li {
  height: 50px;
}

.header-search-img {
  padding: 5px;
  height: 35px;
}

.header-search-box {
  position: relative;
}

.btn-group {
  padding: 10px;
}

.user-show-page, .user-edit-page {
  padding-top: 20px;
}

.profile-link-img {
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
}

.profile-name {
  font-size: 24px;
}

.profile-img {
  border-left-style: inset;
  border-top-style: inset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-width: 2px;
  box-shadow: 2px 2px;
}

.profile-reviews-ul {
  /*background-color: #ffe6e6;*/
}

.edit-profile-buttons {
  text-align: center;
}

.create-review-btn {
  background-color: #99e699;
}

.create-review-btn:hover {
  background-color: #47d147;
}

.subscription-grid-component {
  margin: 10px 0px;
  height: 470px;
  text-align: center;
}

.subscription-grid-component:hover {
  box-shadow: 0px 0px 5px #CCCCCC;
  border-radius: 5px;
}

.subscription-grid-enter {
  opacity: 0.01;
  transform:   translate(-250px, 250px);
  transform: translate3d(-250px, 250px, 250px);
}

.subscription-grid-enter.subscription-grid-enter-active {
  opacity: 1;
  transform:   translate(0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.subscription-grid-leave {
  opacity: 1;
}

.subscription-grid-leave.subscription-grid-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.review-enter {
  opacity: 0.01;
  transform:   translate(0, 250px);
  transform: translate3d(0, 250px, 0);
}

.review-enter.review-enter-active {
  opacity: 1;
  transform:   translate(0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.review-leave {
  opacity: 1;
}

.review-leave.review-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.subscription-name-link {
  text-align: center;
  color: black;
}

.subscription-name-link:hover {
  color: black;
  font-style: underline;
}

.subscription-logo {
  border-left-style: inset;
  border-top-style: inset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-width: 2px;
  box-shadow: 2px 2px #000;
  height: 256px;
  margin: 5px;
  /*border: 1px grey solid;*/
}

.subscription-show-container {
  border: 1px  #cccccc solid;
}

.chart-title {
  text-align: center;
}

.subscription-review-ul {
  /*background-color: #ffe6e6;*/
}

.review-show {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px #bfbfbf solid;
  background-color: #f2f2f2;
  /*border: 1px gray solid;*/
}

.review-comment {
  font-style: italic;
}

.review-feed {
  margin: 0 auto;
  position: relative;
}

.review-feed h2{
  text-align: center;
}

.edit-review-btn {
  padding: 5px;
  margin: 5px;
}

.delete-review-btn {
  background-color: #ffb3b3;
  padding: 5px;
  margin: 5px;
}

.delete-review-btn:hover {
  background-color: #ff4d4d;
  color: white;
}

.subscription-index h2{
  text-align: center;
}

#App {
  position: relative;
  /*transition: 200ms;*/
}

#root {
  width: 100%;
}

.subscription-index-li {
  padding: 10px;
}

.subscription-logo-thumbnail {
  /*border: 1px #d9d9d9 solid;*/
  margin: 5px;
}

.subscription-search-ul {
  position: absolute;
}

.dropdown-toggle {
  margin-right: 15px;
}
.dropdown-menu {
  position: absolute;
}

.subscription-search-li {
  width: 150px;
  background-color: #e6e6e6;
  color: black;
}

.borderless {
  border: none !important;
  border-bottom: none !important;
}

.splash-page-div {
  /*background-image: url("https://images.unsplash.com/photo-1418075285575-c402f1f7340f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=bb58c9cd29c49f253c134acc1abc7334");*/
  /*background-image: url("https://images.unsplash.com/photo-1456082902841-3335005c3082?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=de4239cfa778c2a6cbe039486bb8cafb");*/
  background-image: url("https://images.unsplash.com/13/unsplash_523ae1f5502d6_1.JPG?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8303bca44f6cd3ce0e72326f3cacf3b8");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1418075285575-c402f1f7340f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=bb58c9cd29c49f253c134acc1abc7334');*/
}
/*https://images.unsplash.com/photo-1456082902841-3335005c3082?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=de4239cfa778c2a6cbe039486bb8cafb*/

.white-text {
  color: white;
}

.splash-page-img {
  width: 100%
}

.blank-space {
  height: 325px;
}

.new-session-form {
  text-align: center;
}

.new-user-form {
  text-align: center;
}
