.btn-group { padding: 10px 10px 10px 0px; }

input {outline: none;}

ul {
  display: block;
  list-style-type: none;
  border: 1px red solid;
}

li {
  display: block;
  border: 1px green solid;
}

a {
  cursor: pointer;
}

.profile-link-img {
  cursor: pointer;
}

.subscription-logo {
  border: 1px grey solid;
}

/*.subscription-review-ul {
  text-align: center;
}*/

.review-show {
  height: 200px;
}

.review-feed {
  width: 640px;
  margin: 0 auto;
  position: relative;
}

.review-feed h2{
  text-align: center;
}

.subscription-index h2{
  text-align: center;
}

#App {
  position: relative;
}

#root {
  width: 100%;
}

.header-search-ul {
  position: absolute;
  width: 187px;
}

.header-search-li {
  height: 50px;
}

.header-search-img {
  padding: 5px;
  height: 35px;
}

.header-search-box {
  position: relative;
}

ul {
  padding: 0;
}
