.btn-group { padding: 10px 10px 10px 0px; }

input {outline: none;}

ul {
  display: block;
  list-style-type: none;
  border: 1px red solid;
}

li {
  display: block;
  border: 1px green solid;
}

a {
  cursor: pointer;
}

.profile-link-img {
  cursor: pointer;
}

.review-show {
  height: 200px;
}

.review-feed {
  width: 640px;
  margin: 0 auto;
  position: relative;
}

.review-feed h2{
  text-align: center;
}

.subscription-index h2{
  text-align: center;
}

#App {
  position: relative;
}

#root {
  width: 100%;
}

.header-search-li {

}
